<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.my.arwin.uangku">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".signup_activity"
            android:label="signup activity">
        </activity>
        <activity
            android:name=".signupactivity"
            android:label="signupactivity">
        </activity>
        <activity
            android:name=".menuutama_activity"
            android:label="menuutama_activity">
        </activity>
        <activity
            android:name=".sessiomanager"
            android:label="sessiomanager">
        </activity>
        <activity
            android:name=".tambahdata_activity"
            android:label="tambahdata_activity">
        </activity>
    </application>

</manifest>
